{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Breaker Store - Promote your games now !</title>
    <meta content="Templines" name="author">
    <meta content="TeamHost" name="description">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="HandheldFriendly" content="true">
    <meta name="format-detection" content="telephone=no">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">

    <link  type="image/x-icon"  rel="shortcut icon"  href="{% static "img/breakers_logo.png" %}"/>
    <link  rel="stylesheet"  href="{% static "css/libs.min.css" %}"/>
    <link  rel="stylesheet"  href="{% static "css/main.css" %}"/>
    <link rel="stylesheet" href="{% static "css/youzify.min.css" %}">


    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Marcellus&display=swap" rel="stylesheet">


</head>

<body class="page-login dark-theme">



    <!-- Loader-->
    <div id="page-preloader">
        <div class="preloader-1">
            <div class="loader-text">Loading</div>
            <span class="line line-1"></span>
            <span class="line line-2"></span>
            <span class="line line-3"></span>
            <span class="line line-4"></span>
            <span class="line line-5"></span>
            <span class="line line-6"></span>
            <span class="line line-7"></span>
            <span class="line line-8"></span>
            <span class="line line-9"></span>
        </div>

    </div>
    <!-- Loader end-->


    {% comment %} <div class="page-wrapper"> {% endcomment %}
        <main class="page-first-screen">
            <div class="uk-grid uk-grid-small uk-child-width-1-2@s uk-flex-middle uk-width-1-1" data-uk-grid>
                <div class="logo-big">
                    <a href="{% url 'categories_and_products:index' %}"><img src="{% static "img/logo/01.png" %}" alt="logo" class="animation-navspinv"></a>
                    <span>Breaker's Store</span>                   
                </div>
                <div>
             
                    <div class="form-login">
                        <div class="form-login__box">
                            {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                <li> {{ message }} </li>
                                {% endfor %}
                            </ul>
                        
                            {% endif %}
                            <div class="uk-heading-line uk-text-center"><span>Reset Password</span></div>
                            <form method="POST" id="login-form" novalidate >
								{% csrf_token %}
                                <div class="uk-margin"><input name="old_password" class="form-control" placeholder="Old password" type="password" id="id_old_password" required="true"></div>
                                <div class="uk-margin"><input class="uk-input" id = "id_new_password1" name="new_password1" type="password" placeholder="New Password" ></div>
                                <div class="uk-margin"><input class="uk-input" id = "id_new_password2" name="new_password2" type="password" placeholder="Confirm New Password"></div>
                                <div class="uk-margin">
                                    <input type="submit" name="signin" id="signin" class="uk-button uk-button-danger uk-width-1-1"  value="Log in"/></div>
                             
                                    <div class="uk-margin uk-text-center"><a href="#">Forgotten password?</a></div>
                                   
                                    <hr>
                                    <div class="uk-text-center"><span>Don’t have an account?</span><a class="uk-margin-small-left" href="register">Register</a></div>

                                    {% for field in form %}
                                    {% for error in field.errors %}
                                    <p style = "color: red"> {{error}} </p>
                                    {% endfor %}
                                    
                                    
                                    
                                    {% endfor %}
                                  </form>
                            
                        </div>
                    </div>
                </div>
            </div>
        </main>
    {% comment %} </div> {% endcomment %}

    <script src="../static/js/libs.js"></script>
    <script src="../static/js/main.js"></script>
</body>

</html>
