{% extends "base.html" %}
{% block content %}
{% load static %}
<!-- 
			=============================================
				Inner Banner
			============================================== 
			-->
			<div class="inner-banner pos-r banner-bg bg-style-one" style="background-image: url(static/images/shop/bbg2.png);">
				<div class="opacity">
					<div class="container">
						<br><br><br><br>
						<h1 class="banner-main-title pt-15 pb-45 md-pb-20 wow fadeInUp animated" data-wow-delay="0.4s"> <span style="color:rgb(265,265,265);">About<span> <span style="color:rgb(9,134,211);" data-wow-delay="0.9s" >X-Eats</span></h1>

					</div>
				</div>
			</div> <!-- /.inner-banner -->

			
			
			<!-- 
			=============================================
				Feature Block
			============================================== 
			-->
			<div class="about-feature pos-r">
				<div class="container">
					<div class="row">
						<div class="col-lg-4 col-sm-6">
							<div class="feature-block-two md-mb-40 text-center">
								<img src="{% static 'images/icon/icon11.svg' %}" alt="" class="icon">
								<h5 class="pt-25 pb-35">Lower Delivery Cost</h5>
								<p>Order the Items you want with 10 EGP delivery on the whole order.</p>
							</div> <!-- /.feature-block-two -->
						</div> <!-- /.col- -->
						<div class="col-lg-4 col-sm-6">
							<div class="feature-block-two md-mb-40 text-center">
								<img src="{% static 'images/icon/icon12.svg' %}" alt="" class="icon">
								<h5 class="pt-25 pb-35">Variable Restaurants</h5>
								<p>Variable restaurants, with the lower delivery cost & normal one.</p>
							</div> <!-- /.feature-block-two -->
						</div> <!-- /.col- -->
						<div class="col-lg-4 m-auto">
							<div class="feature-block-two md-mb-40 text-center">
								<img src="{% static 'images/icon/icon13.svg' %}" alt="" class="icon">
								<h5 class="pt-25 pb-35">Events Covering</h5>
								<p>Covering the events catering that belongs to Nile University.</p>
							</div> <!-- /.feature-block-two -->
						</div> <!-- /.col- -->
					</div> <!-- /.row -->
				</div>
			</div>
			



			<!-- 
			=============================================
				Achivement Section
			============================================== 
			-->
			<div class="achivement-section pt-300 pb-300 md-pt-130 md-pb-150 pos-r">
				<div class="container">
					<div class="row">
						<div class="col-lg-5 order-lg-last">
							<div class="theme-title-one">
								<div class="upper-title mb-5">Achivment</div>
								<h2 class="main-title underline">Over 2000+ order served & Still counting.</h2>
							</div> <!-- /.theme-title-one -->
							<p class="pt-55">X-Eats is working for now at NU serving the NU students and counting for them the delivery with lower cost since Jan 2019.</p>
						</div>

						<div class="col-lg-7 order-lg-first">
							<div class="theme-counter-one pos-r md-mt-100 md-mb-110 sm-mt-60 sm-mb-10">
								<div class="shape-wrapper">
									
									<img src="{% static 'images/shape/45.svg' %}" alt="" class="shape-one img-shape">
									<img src="{% static 'images/shape/4.svg' %}" alt="" class="shape-two img-shape">
									<img src="{% static 'images/shape/23.svg' %}" alt="" class="shape-three img-shape">
									<img src="{% static 'images/shape/9.svg' %}" alt="" class="shape-four img-shape">
									<img src="{% static 'images/shape/17.svg' %}" alt="" class="shape-five img-shape">
									<img src="{% static 'images/shape/24.svg' %}" alt="" class="shape-six img-shape">
									<img src="{% static 'images/shape/25.svg' %}" alt="" class="shape-seven img-shape">
								</div>
								<div class="inner-round-shape pos-r">
									<div class="counter-box-one pos-a">
										<h2 class="number color-one"><span class="timer" data-from="0" data-to="230" data-speed="1200" data-refresh-interval="5">2</span>k</h2>
							      		<p>Orders</p>
									</div> <!-- /.counter-box-one -->
									<div class="counter-box-one pos-a">
										<h2 class="number color-two"><span class="timer" data-from="0" data-to="16" data-speed="1200" data-refresh-interval="5">1</span>k</h2>
							      		<p>Customers</p>
									</div> <!-- /.counter-box-one -->
									<div class="counter-box-one pos-a">
										<h2 class="number color-three"><span class="timer" data-from="0" data-to="3" data-speed="1200" data-refresh-interval="5">5</span></h2>
							      		<p>Years</p>
									</div> <!-- /.counter-box-one -->
									<div class="counter-box-one pos-a">
										<h2 class="number color-four"><span class="timer" data-from="0" data-to="1200" data-speed="1200" data-refresh-interval="5">10</span>+</h2>
							      		<p>Team</p>
									</div> <!-- /.counter-box-one -->
									<div class="center-shape pos-a"><img src="images/shape/44.svg" alt=""></div>
								</div> <!-- /.inner-round-shape -->
							</div> <!-- /.theme-counter-one -->
						</div>
					</div> <!-- /.row -->
				</div> <!-- /.container -->
			</div> <!-- /.achivement-section -->



			


{% endblock content %}